.toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

.spacer {
    flex: 1;
}

.menu li {
    list-style: none;
    display: inline;
    padding: 8px;
}

.button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background: black;
    color: #fff;
}